@using ZeroToHeroZBS.Utility
@model List<Kitap>

@if (TempData["basarili"] != null)
{
    <h3 style="color:forestgreen">@TempData["basarili"]</h3>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <h1>Kitaplar</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:50px">Id</th>
                <th>KitapAdi</th>
                <th>Tanim</th>
                <th>Yazar</th>
                <th>Fiyat</th>
                <th>KitapTuru</th>
                <th style="width:250px"></th>
                <th style="width:250px"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var kitap in Model)
            {
                <tr>
                    <td style="width:50px">@kitap.Id</td>
                    <td>@kitap.KitapAdi</td>
                    <td>@kitap.Tanim</td>
                    <td>@kitap.Yazar</td>
                    <td>@kitap.Fiyat</td>
                    <td>@kitap.KitapTuru.Ad</td>

                    @if (User.IsInRole(UserRoles.Role_Admnin))
                    {
                        <td><a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@kitap.Id" type="button" class="btn btn-success" style="width:200px">Güncelle</a> </td>
                        <td><a asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id" type="button" class="btn btn-danger" style="width:200px">Sil</a> </td>


                    }

                </tr>
            }
        </tbody>

    </table>

     @if (User.IsInRole(UserRoles.Role_Admnin))
    {
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Yeni Kitap Ekle</a>
            </div>
        </div>
    
    }
</div>
